.content {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0s ease;
  -webkit-overflow-scrolling: touch;
  &.content--pull-to-refresh {
    transition: transform 0.2s ease-in-out;
  }
  &.content--padding {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &.has-header {
    padding-top: 56px;
  }
  &.has-sub-header {
    padding-top: 104px;
  }
  &.has-footer {
    bottom: 48px;
  }
}

// Hack to force all relatively and absolutely positioned elements still render while scrolling
// Note: This is a bug for "-webkit-overflow-scrolling: touch"
.content > * {
  transform: translateZ(0);
}
