.navigation{
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.2s ease;
}

.pages {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  background-color: #ffffff;
  
  &.pages--slide-up {
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s linear;
    transform: translateY(10%);
  }
  &.pages--slide-up-show {
    opacity: 1;
    transform: translateY(0);
  }
  
  &.pages--normal {
    transition: all 0s linear;
    visibility: hidden;
  }
  &.pages--normal-show {
    visibility: visible;
  }
  
  
}