$tab-opacity: 0.6;

.tab-bar {
  display: flex;
  height: 48px;
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  
  .tab-bar__item {
    flex: 1;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .icon{
      vertical-align: middle;
    }
    
    &:hover{
      cursor: pointer;
    }
    
    &.active{
      height: 48px;
    }
    
  }
  
  &.tab-bar--indicator-top{
    .tab-bar__item{
      border-top-width: 2px;
      border-top-style: solid;
    }
  }
  
  &.tab-bar--indicator-bottom{
    .tab-bar__item{
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
  
} 

.footer{
  .tab-bar {
    height: 56px;
    
    .tab-bar__item{
      height: 56px;
      line-height: 56px;
      
      &.active{
        height: 55px;
      }
    }
    
  }
}

@each $label, $color in $colors {

  .tab-bar--text-#{$label}{
    color:  rgba($color, $tab-opacity) !important;
    .tab-bar__item.active, .tab-bar__item:hover{
     color: $color;
   }
 }

 .tab-bar--indicator-top-#{$label}{
    .tab-bar__item.active{
      border-top-color: $color;
      border-top-width: 2px;
      border-top-style: solid;
    }
  }  
  
  .tab-bar--indicator-bottom-#{$label}{
    .tab-bar__item.active{
      border-bottom-color: $color;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  } 

}

.tab-hide{
  visibility: hidden;
}

.tab-show{
  visibility: visibility;
}

.content--tab{
}
